services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    depends_on:
      - spring-boot-app
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - /var/log/caddy:/var/log/caddy
      - caddy-data:/data
      - caddy-config:/config
  spring-boot-app:
    build:
      context: .
      args:
        SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
    container_name: spring-boot-app
    expose:
      - "8080"
    networks:
      - app-network
    volumes:
      - /opt/secrets:/opt/secrets:ro
    env_file:
      - /opt/secrets/.env
    environment:
      DOCKER_ENV: "true"

networks:
  app-network:
    driver: bridge

volumes:
  caddy-data:
  caddy-config:
