services:
  caddy:
    image: caddy:2
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    depends_on:
      - spring-boot-app
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy-data:/data
      - caddy-config:/config
  spring-boot-app:
    build:
      context: .
      args:
        SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
    container_name: spring-boot-app
    expose:
      - "8080"
    networks:
      - app-network
    volumes:
      - /opt/secrets:/opt/secrets:ro
    env_file:
      - /opt/secrets/.env
    environment:
      DOCKER_ENV: "true"
  newrelic-infra:
    image: newrelic-infra
    container_name: newrelic-infra
    build:
      context: .
      dockerfile_inline: |
        FROM newrelic/infrastructure:latest
        ADD newrelic-infra.yml /etc/newrelic-infra.yml
    networks:
      - app-network
    env_file:
      - /opt/secrets/.env
    cap_add:
      - SYS_PTRACE
    privileged: true
    pid: host
    volumes:
      - /opt/secrets:/opt/secrets:ro
      - /:/host:ro
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

networks:
  app-network:
    driver: bridge

volumes:
  caddy-data:
  caddy-config:
