files:
  "/opt/secrets/firebase-adminsdk.json":
    mode: "000644"
    owner: root
    group: root
    content: ""

container_commands:
  01_create_directory:
    command: "mkdir -p /opt/secrets"
  02_download_firebase_config:
    command: "aws s3 cp s3://sobok-secrets/firebase-adminsdk.json /opt/secrets/firebase-adminsdk.json"