% files:
%   "/opt/secrets/firebase-adminsdk.json":
%     mode: "000644"
%     owner: root
%     group: root
%     content: "placeholder"
%   "/opt/secrets/.env":
%       mode: "000644"
%       owner: root
%       group: root
%       content: "placeholder"
%   "/opt/secrets/apple-authkey.p8":
%       mode: "000644"
%       owner: root
%       group: root
%       content: "placeholder"
%
% container_commands:
%   01_create_directory:
%     command: "mkdir -p /opt/secrets"
%   02_download_firebase_config:
%     command: "aws s3 cp s3://sobok-secrets/firebase-adminsdk.json /opt/secrets/firebase-adminsdk.json"
%   03_download_env:
%     command: "aws s3 cp s3://sobok-secrets/.env /opt/secrets/.env"
%   04_download_apple_authkey:
%     command: "aws s3 cp s3://sobok-secrets/apple-authkey.p8 /opt/secrets/apple-authkey.p8"