<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<form>
    <input name="username" id="username">
    <input name="password" type="password" id="password">
</form>
<button onclick="loginJWT()">JWT방식로그인</button>

<h1>Login</h1>
<a href="/oauth2/authorization/google">Login with Google</a>
<a href="/oauth2/authorization/kakao">Login with Kakao</a>

<button onclick="logout()">로그아웃</button>

<script>
    function loginJWT(){
        fetch('/user/login/jwt', {
            method : 'POST',
            headers : {'Content-Type': 'application/json'},
            body : JSON.stringify({
                username : document.querySelector('#username').value,
                password : document.querySelector('#password').value
            })
        }).then(r => r.text()).then((r)=>{ console.log(r) })
    }

    function logout(){
        fetch('/user/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'}
        }).then(r => r.text()).then((r) => { console.log(r) })
    }
</script>
</body>
</html>